{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>留言板</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">

    <style>
        body{
            background-image: url("{% static '/images/8787.png' %}");
            background-size: cover ;
            background-repeat: no-repeat;
        }
        .list-group-item{
            background-color: transparent
        }
        .name{
            color: white;
        }
        .email{
            color: white;
        }
        .content{
            color: white;
        }
        .time{
            color: white;
        }
    </style>


</head>
<body>
    <a href="{% url 'article:home' %}">返回首页</a>

    <div class="container">
        <h1 style="color: white">留言列表</h1>
        <ul class="list-group">
            {% for item in page_obj %}
                <div class="list-group-item" style="margin-top: 20px">
                    <strong><span class="name">{{ item.name }}</span></strong> (<span
                        class="email">{{ item.email }}</span>) <span class="time">{{ item.created }}</span><br>
                    <span class="content">{{ item.content }}</span>

                </div>
            {% endfor %}
        </ul>

        <nav aria-label="Page navigation example">
            <ul class="pagination" style="margin-top: 30px">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">上一页</a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">下一页</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</body>
</html>