<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-start"> {# start把位置设置在左边 #}
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                <i class="page-item">Previous</i>
            </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                <i class="page-item">Next</i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>